body {
    background: #f58b53;
    color: #00716c;
    padding: 3%;
}
.naslov {
    text-shadow: 2px -1px 2px black;
}
.opis {
    font-size: 18px;
}
#unos {
    size: 40px;
}
.rezultat {
    color: #004e5a;
    font-size: 20px;
}
@media (min-width: 800px) {
 body {
     margin-left: 3em;
     margin-right: 6em;
 }
 .opis {
    font-size: 22px;
}
}